<div style="text-align:center">
    <h3>
      Trending Now
    </h3>
      <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let movie of movies">
        <ng-template carouselSlide [id]="movie.id">
            <div>
                <a [routerLink]="['/home', movie.id]"><img [src]="imageUrl+movie.poster_path" [alt]="movie.title" [title]="movie.title"></a>
              <p class="title">{{movie.title}}</p>
              <small>{{movie.release_date}}</small>
            </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <h3>
        Comedy
      </h3>
        <owl-carousel-o [options]="customOptions" >
          <ng-container *ngFor="let movie of movies">
            <ng-template carouselSlide [id]="movie.id" *ngIf="movie.genre_ids.includes(35)">
              <div>
                <a [routerLink]="['/home', movie.id]"><img [src]='imageUrl+movie.poster_path' [alt]="movie.title" [title]="movie.title"></a>
                <p class="title">{{movie.title}}</p>
                <small>{{movie.release_date}}</small>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

    <h3>
       Drama
      </h3>
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let movie of movies">
            <ng-template carouselSlide [id]="movie.id" *ngIf="movie.genre_ids.includes(18)">
              <div>
                <a [routerLink]="['/home', movie.id]"><img [src]="imageUrl+movie.poster_path" [alt]="movie.title" [title]="movie.title"></a>
                <p class="title">{{movie.title}}</p>
                <small>{{movie.release_date}}</small>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
</div>
