<div class="card" *ngIf="movie">
  <h3> Watch {{movie.title}}</h3>

  <div class="card-body">
    <div class="row">

      <div class="col-lg-4">
        <img class="center-block img-responsive"
              [src]='imageBaseUrl+movie.poster_path'
              [style.width.px]='300'
              [style.margin.px]='2'
              [title]='movie.title'
              [alt]='movie.title'>
      </div>

      <div class="col-lg-8 body">
        <div class="row spacing">
          <h5 class="col-lg-3">Description</h5>
          <div class="col-lg-9">{{movie.overview}}</div>
        </div>
        <div class="row row spacing" >
          <h5 class="col-lg-3">Genre</h5>
          <div class="col-lg-9">
            <span *ngFor='let genres of movie.genres'> {{genres.name}} </span>
          </div>
        </div>
        <div class="row row spacing">
          <h5 class="col-lg-3">Release Year</h5>
          <div class="col-lg-9">{{movie.release_date}}</div>
        </div>
        <div class="row row spacing">
          <h5 class="col-lg-3">Rating</h5>
          <div class="col-lg-9">{{movie.vote_average}}</div>
        </div>

      </div>

    </div>
  </div>

  <div class="card-footer">
      <button class="btn btn-outline-secondary"
              style='width: 80px'
              [routerLink]="['/home']"> Back
</button>
  </div>
</div>
